<div class="popular-articles-card">
  <img src="../../../../assets/images/images-card/{{card.image}}" alt="creating-sites">
  <div class="card-info">
    <div class="service-card-info-title">
      {{card.title}}
    </div>
    <div class="service-card-info-content">
      {{card.description}}
    </div>
  </div>
  <div class="service-card-action">
    <div>
      <a routerLink="/article" class="card-link">Читать дальше</a>
    </div>
  </div>
  <button class="btn-type-service">{{card.category}}</button>
</div>
