<div class="article-card">
  <div class="article-card-content">
    <div class="article-card-image" style="background-image: url({{'/assets/images/images-card/' + card.image}})"></div>
    <div class="card-info">
      <div class="service-card-info-title">
        {{card.title}}
      </div>
      <div class="service-card-info-content">
        {{card.description}}
      </div>
    </div>
  </div>
  <div class="service-card-action">
    <div>
      <a [routerLink]="'/articles/' + card.url" [queryParams]="{comments: 5}" class="card-link">Читать дальше</a>
    </div>
  </div>
  <button class="btn-type-service">{{card.category}}</button>
</div>
