@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/global";
@import "../../../assets/styles/auth-form";

.main {
  .container {

    .slider {
      width: 1240px;

      .picsum-img-wrapper {
        width: 1240px;
        height: 500px;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }

      .carousel-caption {
        width: 610px;
        padding: 0;
        text-align: left;
        position: absolute;
        left: 85px;
        top: 100px;

        .offer-month {
          color: $blue-color;
          font-family: Montserrat, sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 5px;
          text-transform: uppercase;
        }

        .promotion-in-instagram {
          p {
            margin: 0;
            font-family: Lora, serif;
            font-size: 50px;
            font-weight: 400;
            line-height: 130%;
            text-align: left;
          }

          span {
            color: $blue-color;
          }
        }

        .offer {
          margin-top: 20px;
          width: 460px;
          color: $white-color;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 130%;
        }

        .action {
          margin-top: 40px;


        }
      }

    }

    .services-offered {
      padding-top: 120px;
      padding-bottom: 60px;

      .services-offered-title {
        @include head-lora-38;
      }

      .services {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        .service-card {
          border-radius: 5px;
          width: 291px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          img {
            width: 291px;
            object-fit: cover;
          }

          .card-info {
            .service-card-info-title {
              margin-top: 15px;
              color: $blue-color;
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-weight: 500;
              line-height: 130%;
            }

            .service-card-info-content {
              margin-top: 10px;
              color: $black-text-color;
              font-family: Montserrat, sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 130%;
            }
          }

          .service-card-action {
            margin-top: 33px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .service-card-action-price {
              color: $blue-color;
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-weight: 600;
              line-height: 130%;
            }
          }
        }
      }
    }

    .advantages {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      gap: 68px;

      .advantages-image {
        width: 460px;

        img {
          width: 460px;
          object-fit: cover;
        }
      }

      .advantages-content {
        .advantages-content-title {
          @include head-lora-38;
        }

        .our-advantages-title {
          margin-top: 20px;
          color: rgb(30, 26, 43);
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
        }

        .our-advantages-title {
          margin-top: 40px;
          @include head-lora-26;
        }

        .our-advantages-content {
          display: flex;
          flex-wrap: wrap;

          .our-advantage {
            margin-top: 20px;
            position: relative;
            width: 316px;

            .number {
              position: absolute;
              top: 28px;
              left: 0;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $light-blue-color;

              color: $blue-color;
              font-family: Lora, serif;
              font-size: 50px;
              font-weight: 500;
              line-height: 46%;
              text-align: center;

            }

            .advantage-description {
              margin-left: 60px;

              color: #1E1A2B;
              font-family: Montserrat, sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 130%;

              span {
                color: #1E1A2B;
                font-family: Montserrat, sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 130%;
              }
            }
          }
        }
      }
    }

    .popular-articles {
      padding-top: 60px;
      padding-bottom: 60px;

      .popular-articles-title {
        @include head-lora-38;
      }

      .popular-articles-cards {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .popular-articles-link {
        cursor: pointer;
        margin-top: 40px;
        display: flex;
        justify-content: right;
        align-items: center;

        a {
          color: $blue-color;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-weight: 500;
          margin-right: 17px;
        }
      }
    }

    .reviews {
      padding-top: 60px;
      padding-bottom: 60px;

      .reviews-title {
        @include head-lora-38;
      }

      .reviews-carousel {
        position: relative;

        .reviews-item {
          width: 396px;
          height: 267px;
          padding: 30px;
          border: 2px solid $blue-color;
          border-radius: 10px;
          box-sizing: border-box;

          .reviews-item-head {
            display: flex;
            align-items: center;
          }

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .reviews-item-name {
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: $blue-color;
          }

          .reviews-item-text {
            margin-top: 15px;
            color: $black-text-color;
            font-size: 16px;
            line-height: 140%;
          }
        }

        .reviews-arrow {
          display: flex;

          a {
            top: calc(50% - 5px);
            display: flex;
            position: absolute;
            cursor: pointer;

            &.move-backward {
              left: -41px;
            }

            &.move-forward {
              right: -41px;
            }
          }
        }

      }
    }

    .contacts {
      padding-top: 60px;
      padding-bottom: 120px;
      display: flex;

      .contacts-map {
        width: 607px;
        height: 438px;
      }

      .contacts-info {
        width: 501px;
        margin-left: 26px;


        .contacts-info-title {
          @include head-lora-38;
          line-height: 130%;
        }

        .contacts-info-text {
          margin-top: 20px;

          h3 {
            color: $blue-color;
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }

          p {
            color: $black-text-color;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 400;
          }

          .phone {
            text-decoration: none;
            color: $black-text-color;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 400;
          }

          i {
            margin-right: 20px;
          }
        }
      }
    }
  }


}

