@import "../../../../assets/styles/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $white-color;
  padding: 40px 0 40px 0;

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 110px 530px 1fr 0.7fr;



    .logo {

    }

    .header-menu {
      justify-self: end;

      @media screen and (max-width: 1040px) {
        justify-self: center;
      }

      ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          a {
            color: $black-text-color;
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            white-space: nowrap;
          }

          a.active {
            color: $blue-color;
          }

        }
      }
    }

    .header-phone {
      justify-self: end;

      @media screen and (max-width: 900px) {
        display: none;
      }

      a {
        text-decoration: none;
        color: $blue-color;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
        vertical-align: center;
      }
    }

    .action {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-self: end;
      margin-left: 20px;

      .login {
        margin-left: 7px;
        color: $black-text-color;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .loggedIn {
        margin-left: 7px;
        color: $black-text-color;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .text {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 1200px) {
    .container {
      grid-template-columns: 110px 530px 1fr 218px;
    }
  }

  @media screen and (max-width: 1170px) {
    .container {
      grid-template-columns: 110px 2fr 1fr 0.7fr;
    }
  }

  @media screen and (max-width: 900px) {
    .container {
      grid-template-columns: 110px 2fr 0.7fr;
    }
  }

  @media screen and (max-width: 720px) {
    .container {
      grid-template-columns: 110px 2fr 0.7fr;
    }
  }

  //.container {
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-between;
  //
  //  @media screen and (max-width: 1280px) {
  //    .container {
  //      padding-left: 20px;
  //      padding-right: 20px;
  //    }
  //  }
  //
  //  .logo {
  //
  //  }
  //
  //  .header-menu {
  //    width: 429px;
  //    margin-left: 100px;
  //
  //    ul {
  //      display: flex;
  //      justify-content: space-between;
  //      padding: 0;
  //      margin: 0;
  //      list-style: none;
  //
  //      li {
  //        a {
  //          color: $black-text-color;
  //          font-family: Montserrat, sans-serif;
  //          font-size: 16px;
  //          font-weight: 500;
  //          text-decoration: none;
  //        }
  //
  //        a.active {
  //          color: $blue-color;
  //        }
  //
  //      }
  //    }
  //  }
  //
  //  .header-phone {
  //    margin-left: 191px;
  //
  //    a {
  //      text-decoration: none;
  //      color: $blue-color;
  //      font-family: Montserrat, sans-serif;
  //      font-size: 16px;
  //      font-weight: 500;
  //      vertical-align: center;
  //    }
  //  }
  //
  //  .action {
  //    margin-left: 50px;
  //    display: flex;
  //    align-items: center;
  //    cursor: pointer;
  //
  //    .login {
  //      margin-left: 7px;
  //      color: $black-text-color;
  //      font-family: Montserrat, sans-serif;
  //      font-size: 16px;
  //      font-weight: 500;
  //    }
  //
  //    .loggedIn {
  //      margin-left: 7px;
  //      color: $black-text-color;
  //      font-family: Montserrat, sans-serif;
  //      font-size: 16px;
  //      font-weight: 500;
  //    }
  //
  //    .text {
  //      text-align: right;
  //    }
  //  }
  //}

}
