<div class="modal" *ngIf="isOpenModal" [formGroup]="requestForm">
  <div class="modal-form">
    <div class="icon-close" (click)="close()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="13.9236" y1="2.62971" x2="1.90277" y2="14.6505" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="auth-form">
      <div class="auth-title">Заявка на услугу</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <select class="input select" #selectedService>
            <option value="value1" >Создание сайтов</option>
            <option value="value2">Продвижение</option>
            <option value="value3">Реклама</option>
            <option value="value4">Копирайтинг</option>
          </select>
        </div>

        <div class="auth-input">
          <input type="text" class="input" placeholder="Ваше имя"
                 [ngStyle]="{'border-color': requestForm.get('name')?.invalid
                 && (requestForm.get('name')?.dirty || requestForm.get('name')?.touched) ? 'red' : ''}"
                  formControlName="name">
        </div>
        <div class="auth-input">
          <input type="text" class="input" placeholder="Ваш номер телефона"
                 [ngStyle]="{'border-color': requestForm.get('phone')?.invalid
                 && (requestForm.get('phone')?.dirty || requestForm.get('phone')?.touched) ? 'red' : ''}"
                 formControlName="phone">
        </div>
      </div>
      <div class="auth-button">
        <button type="button" class="button" (click)="sendRequest()">Заказать консультацию</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="thankYouForm">
  <div class="modal-form">
    <div class="icon-close" (click)="close()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="13.9236" y1="2.62971" x2="1.90277" y2="14.6505" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="auth-form thank-you">
      <div class="auth-title">Спасибо за вашу заявку!</div>
      <div class="auth-inputs">
        <div class="auth-input-text">
          Мы свяжемся с вами при первой же возможности.
        </div>
      </div>
      <div class="auth-button">
        <button type="button" class="button thank-you" (click)="close()">Окей</button>
      </div>
    </div>
  </div>
</div>
